
@{
    ViewBag.Title = "SignUp";

        Layout = "";

}
<head>
    <title>Sign Up!</title>
    <link href="https://b2capp.identitydemo.xyz/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://b2capp.identitydemo.xyz/Scripts/bootstrap.min.js"></script>
    <h2>SignUp</h2>
    <div id="api"></div>
</body>

